<div class="input flex-column" data-bind="class: classes">
    <label class="bolt-formitem-label body-m" data-bind="html: label"></label>
    <div class="flex-column">
        <div class="bolt-textfield bolt-textfield-default-width flex-row flex-center focus-treatment"
                data-bind="css: { 'bolt-textfield-error': error().length }">
            <!-- ko ifnot: type === 'select' -->
            <input autocomplete="off" class="bolt-textfield-input flex-grow"
                    data-bind="attr: { 
                                    type: type,
                                    tabindex: tabindex,
                                    min: min,
                                    max: max
                               },
                               textInput: value,
                               css: { 
                                    'bolt-textfield-input-with-suffix': error().length 
                               }" />
            <!-- /ko -->
            <!-- ko if: type === 'select' -->
            <select class="bolt-textfield-input flex-grow"
                    data-bind="attr: { 
                                    tabindex: tabindex
                               },
                               options: options,
                               optionsText: optionsText,
                               optionsValue: optionsValue,
                               optionsCaption: optionsCaption,
                               value: value,
                               css: { 
                                    'bolt-textfield-input-with-suffix': error().length
                               }"></select>
            <!-- /ko -->
            <!-- ko if: error().length -->
            <span class="fluent-icons-enabled">
                <span aria-hidden="true" class="bolt-textfield-message-error suffix bolt-textfield-icon flex-noshrink fabric-icon ms-Icon--Error medium"></span>
            </span>
            <!-- /ko -->
        </div>
    </div>
    <!-- ko if: info().length -->
    <span class="bolt-formitem-message body-xs" data-bind="html: info"></span>
    <!-- /ko -->
    <!-- ko if: optionsInfoValue().length -->
    <span class="bolt-formitem-message body-xs" data-bind="text: optionsInfoValue"></span>
    <!-- /ko -->
    <!-- ko if: error().length -->
    <span class="bolt-formitem-message body-xs bolt-formitem-message-error" role="alert" data-bind="html: error"></span>
    <!-- /ko -->
</div>