<div class="commit flex-column">
    <div class="flex-row flex-grow full-width v-scroll-hidden margin-bottom-16">
        CONTENT
    </div>
    <div class="flex-wrap bolt-button-group flex-row margin-bottom-16 justify-end">
        <button class="bolt-button bolt-focus-treatment" role="button" tabindex="0" type="button">
            <span class="bolt-button-text body-m">Cancel</span>
        </button>
        <button class="bolt-button primary bolt-focus-treatment" role="button" tabindex="0" type="button">
            <span class="bolt-button-text body-m">Commit</span>
        </button>
    </div>
</div>