<div class="hub bolt-page v-scroll-auto flex-column bolt-page-grey">
    <div class="bolt-header flex-row flex-noshrink flex-start bolt-header-no-spacing-defined">
        <div class="bolt-header-content-area flex-row flex-grow flex-self-stretch">
            <div class="bolt-header-title-area flex-column flex-grow scroll-hidden">
                <div class="bolt-header-title-row flex-row flex-baseline">
                    <div aria-level="1" class="bolt-header-title title-m l" role="heading" data-bind="text: title"></div>
                </div>
            </div>
            <div class="flex-self-start bolt-header-commandbar bolt-button-group flex-row">
                <div class="flex-self-start bolt-header-commandbar-button-group flex-row flex-center flex-grow scroll-hidden rhythm-horizontal-8" style="overflow: visible">
                    <!-- ko if: canUseGit() -->
                    <my-menu params="value: repoId, options: repos, optionsText: 'name', optionsValue: 'id', caption: '... choose repository', icon: 'ChevronDownMed', classes: 'bolt-header-command-item-button'"></my-menu>
                    <!-- /ko -->
                    <div class="bolt-header-command-item-button inline-flex-row">
                        <button class="icon-only bolt-button bolt-icon-button enabled subtle bolt-focus-treatment" tabindex="0" type="button"
                                data-bind="click: fullscreen, attr: { title: isFullScreen() ? 'Exit full screen mode' : 'Enter full screen mode'}">
                            <span class="fluent-icons-enabled">
                                <span aria-hidden="true" class="left-icon flex-noshrink fabric-icon medium"
                                      data-bind="css: { 'ms-Icon--FullScreen': !isFullScreen(), 'ms-Icon--BackToWindow': isFullScreen() }"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hub-content page-content flex-column flex-grow">
        <div class="flex-row flex-grow margin-top-16">
            <!-- ko if: canUseGit() === false -->
            <my-zerodata params="title: 'No repositories found', text: 'Either you have been assigned Stakeholder access or there are not any repositories in the project. Please contact your administrator.'"></my-zerodata>
            <!-- /ko -->
            <!-- ko if: canUseGit() === true -->
            <div class="flex-row flex-grow">
                <div class="tree">
                    <!-- ko if: files().length -->
                    <div class="flex-row bolt-table-card">
                        <div class="bolt-table-container flex-grow v-scroll-auto">
                            <table class="bolt-table bolt-table-show-lines bolt-list body-m relative scroll-hidden" role="treegrid" tabindex="0">
                                <colgroup>
                                    <col style="width: 8px;">
                                    <col style="width: 100%;">
                                    <col style="width: 42px;">
                                    <col style="width: 8px;">
                                </colgroup>
                                <tbody class="relative">
                                    <tr class="bolt-list-row-spacer invisible" role="presentation">
                                        <td class="bolt-list-cell-spacer invisible" colspan="4" style="height: 0px;"></td>
                                    </tr>
                                    <!-- ko foreach: files -->
                                    <tr class="bolt-tree-row bolt-table-row bolt-list-row first-row" role="row" tabindex="-1">
                                        <td class="bolt-table-cell-compact bolt-table-cell bolt-list-cell" role="presentation"></td>
                                        <td class="bolt-tree-cell bolt-table-cell bolt-list-cell" role="gridcell">
                                            <div class="bolt-table-cell-content flex-row flex-center">
                                                <span class="tree__expander fluent-icons-enabled" data-bind="css: { 'tree__expander--visible': $data.isFolder }">
                                                    <span class="bolt-tree-expand-button font-size cursor-pointer flex-noshrink fabric-icon ms-Icon--ChevronDownMed small" role="presentation"
                                                          data-bind="css: { 'ms-Icon--ChevronDownMed': $data.isFolder && $data.isExpanded(), 'ms-Icon--ChevronRightMed': ($data.isFolder && !$data.isExpanded()) || !$data.isFolder }"></span>
                                                </span>
                                                <span class="bolt-list-cell-child flex-row flex-center bolt-list-cell-text">
                                                    <span class="tree__icon fluent-icons-enabled">
                                                        <span class="icon-margin medium repos-folder-icon flex-noshrink fabric-icon"
                                                              data-bind="css: { 'ms-Icon--FabricFolderFill': $data.isFolder, 'ms-Icon--Page': !$data.isFolder }"></span>
                                                    </span>
                                                    <span class="text-ellipsis body-m" data-bind="text: path.slice(1)"></span>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="bolt-table-cell-side-action bolt-table-cell bolt-list-cell col-2">
                                            <div class="bolt-table-cell-content-reveal flex-row justify-center">
                                                <div class="bolt-table-button-more bolt-expandable-button inline-flex-row">
                                                    <button class="icon-only bolt-button bolt-icon-button enabled subtle icon-only bolt-focus-treatment" role="button" tabindex="-1" type="button">
                                                        <span class="fluent-icons-enabled">
                                                            <span class="small left-icon flex-noshrink fabric-icon ms-Icon--MoreVertical medium"></span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="bolt-table-cell-compact bolt-table-cell bolt-list-cell" role="presentation"></td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr class="bolt-list-row-spacer invisible" role="presentation">
                                        <td class="bolt-list-cell-spacer invisible" colspan="4"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="editor flex-grow"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>