<div class="hub bolt-page v-scroll-auto flex-column bolt-page-grey">
    <div class="bolt-header flex-row flex-noshrink flex-start bolt-header-no-spacing-defined">
        <div class="bolt-header-content-area flex-row flex-grow flex-self-stretch">
            <div class="bolt-header-title-area flex-column flex-grow scroll-hidden">
                <div class="bolt-header-title-row flex-row flex-baseline">
                    <div aria-level="1" class="bolt-header-title title-m l" role="heading" data-bind="text: title"></div>
                </div>
            </div>
            <div class="flex-self-start bolt-header-commandbar bolt-button-group flex-row">
                <div class="flex-self-start bolt-header-commandbar-button-group flex-row flex-center flex-grow scroll-hidden rhythm-horizontal-8" style="overflow: visible">
                    <!-- ko if: canUseGit() -->
                    <my-menu params="value: repoId, options: repos, optionsText: 'name', optionsValue: 'id', caption: '... choose repository', icon: 'ChevronDownMed', classes: 'bolt-header-command-item-button'"></my-menu>
                    <!-- /ko -->
                    <div class="bolt-header-command-item-button inline-flex-row">
                        <button class="icon-only bolt-button bolt-icon-button enabled subtle bolt-focus-treatment" tabindex="0" type="button"
                                data-bind="click: fullscreen, attr: { title: isFullScreen() ? 'Exit full screen mode' : 'Enter full screen mode'}">
                            <span class="fluent-icons-enabled">
                                <span aria-hidden="true" class="left-icon flex-noshrink fabric-icon medium"
                                      data-bind="css: { 'ms-Icon--FullScreen': !isFullScreen(), 'ms-Icon--BackToWindow': isFullScreen() }"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hub-content page-content flex-column flex-grow">
        <div class="flex-row flex-grow margin-top-16">
            <!-- ko if: canUseGit() === false -->
            <my-zerodata params="title: 'No repositories found', text: 'Either you have been assigned Stakeholder access or there are not any repositories in the project. Please contact your administrator.'"></my-zerodata>
            <!-- /ko -->
            <!-- ko if: canUseGit() === true -->
            <div class="flex-row flex-grow">
                <my-tree params="repoId: repoId, files: files, file: editFile"></my-tree>
                <my-editor></my-editor>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>