<div class="tree" data-bind="class: classes">
    <!-- ko if: files().length -->
    <div class="flex-row bolt-table-card">
        <div class="bolt-table-container flex-grow v-scroll-auto">
            <table class="bolt-table bolt-table-show-lines bolt-list body-m relative scroll-hidden" role="treegrid" tabindex="0">
                <colgroup>
                    <col style="width: 8px;">
                    <col style="width: 100%;">
                    <col style="width: 42px;">
                    <col style="width: 8px;">
                </colgroup>
                <tbody class="relative">
                    <tr class="bolt-list-row-spacer invisible" role="presentation">
                        <td class="bolt-list-cell-spacer invisible" colspan="4" style="height: 0px;"></td>
                    </tr>
                    <!-- ko foreach: files -->
                    <tr class="bolt-tree-row bolt-table-row bolt-list-row first-row" role="row" tabindex="-1">
                        <td class="bolt-table-cell-compact bolt-table-cell bolt-list-cell" role="presentation"></td>
                        <td class="bolt-tree-cell bolt-table-cell bolt-list-cell" role="gridcell">
                            <div class="bolt-table-cell-content flex-row flex-center">
                                <span class="tree__expander fluent-icons-enabled"
                                    data-bind="css: { 'tree__expander--visible': $data.isFolder }, click: $component.expand.bind($component)">
                                    <span class="bolt-tree-expand-button font-size cursor-pointer flex-noshrink fabric-icon ms-Icon--ChevronDownMed small" role="presentation"
                                        data-bind="css: { 'ms-Icon--ChevronDownMed': $data.isFolder && $data.isExpanded(), 'ms-Icon--ChevronRightMed': ($data.isFolder && !$data.isExpanded()) || !$data.isFolder }"></span>
                                </span>
                                <span class="bolt-list-cell-child flex-row flex-center bolt-list-cell-text">
                                    <span class="tree__icon fluent-icons-enabled">
                                        <span class="icon-margin medium repos-folder-icon flex-noshrink fabric-icon"
                                            data-bind="css: { 'ms-Icon--FabricFolderFill': $data.isFolder, 'ms-Icon--Page': !$data.isFolder }"></span>
                                    </span>
                                    <span class="text-ellipsis body-m" data-bind="text: path.slice(1)"></span>
                                </span>
                            </div>
                        </td>
                        <td class="bolt-table-cell-side-action bolt-table-cell bolt-list-cell col-2">
                            <div class="bolt-table-cell-content-reveal flex-row justify-center">
                                <div class="bolt-table-button-more bolt-expandable-button inline-flex-row">
                                    <button class="icon-only bolt-button bolt-icon-button enabled subtle icon-only bolt-focus-treatment" role="button" tabindex="-1" type="button">
                                        <span class="fluent-icons-enabled">
                                            <span class="small left-icon flex-noshrink fabric-icon ms-Icon--MoreVertical medium"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="bolt-table-cell-compact bolt-table-cell bolt-list-cell" role="presentation"></td>
                    </tr>
                    <!-- /ko -->
                    <tr class="bolt-list-row-spacer invisible" role="presentation">
                        <td class="bolt-list-cell-spacer invisible" colspan="4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /ko -->
</div>