@use "@styles/_functions.scss" as *;
@use "azure-devops-ui/Components/List/List.css";
@use "azure-devops-ui/Components/TreeEx/Tree.scss";
@use "azure-devops-ui/Components/TreeEx/TreeExpand.scss";

.tree {
    width: rem(320px);
    overflow-y: auto;
    margin-right: rem(16px);

    &__expander {
        visibility: hidden;

        &--visible {
            visibility: visible;
        }
    }

    &__icon {
        .ms-Icon--FabricFolderFill {
            color: var(--icon-folder-color, #dcb67a);
        }
    }

    &__table {
        colgroup {
            col {
                &:first-child,
                &:last-child {
                    width: rem(8px);
                }

                &:nth-child(2) {
                    width: 100%;
                }

                &:nth-child(3) {
                    width: 42px;
                }
            }
        }
    }
}